 <body>
        <div class="todo">
            
        
        <h1 class="header">Homework todo list</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1200px-Logo_NIKE.svg.png" height="250">
        <ul class="mainlist"> 
            <li>Finish Chemistry Homework <input type="checkbox"</li> 
                <p> <a href="show/1"><button id="edit">edit</button></a> </p>
            <li>Finish Math Homework <input type="checkbox"</li> 
                <p> <a href="show/2"><button id="edit">edit</button></a> </p>
            <li>Fill out NHS survey <input type="checkbox"</li> 
                <p> <a href="show/3"><button id="edit">edit</button></a> </p>
            <li>Finish Scholarship application <input type="checkbox"</li> 
                <p> <a href="show/4"><button id="edit">edit</button></a> </p>
        </ul>
            <button id="addtodo">Add todo</button> 
            <input type="text" class="textbox"
         
        </div> 
    </body>
    